<div id='stackoverflow_feeds' class='user-tab-content'>
  <% if ENV['theme'] -%>
    <a href='http://stackoverflow.com/users/<%= ENV['user_number'] %>/<%= ENV['user_name'] %>' target= '_blank'>
      <img src='http://stackoverflow.com/users/flair/<%= ENV['user_number'] %>.png?theme=<%= ENV['theme'] %>' width='208' height='58' >
    </a>
  <% end -%>
  <table class='history-table'>
    <tbody>
      <% @entries.each do |entry| %>
        <tr>
          <td id='enable-load-body-<%= entry.id %>' class='async-load load-prepped'>
            <% if(extended) -%>
              <a class='load-body expander-arrow-small-hide hide-body expander-arrow-small-show'></a>
              <b><%= link_to entry.title, entry.entry_id, target: '_blank', class: 'answer-hyperlink timeline-answers' %></b>
              </br>
              <span class='comments' style='display: block;'><%= entry.summary.html_safe unless (entry.summary.blank?) %></span>
            <% else -%>
              <a class='load-body expander-arrow-small-hide'></a>
              <b><%= link_to entry.title, entry.entry_id, target: '_blank', class: 'answer-hyperlink timeline-answers' %></b>
              </br>
              <span class='comments' style='display: none;'></span>
            <% end -%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
